# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.egg-info/
.coverage

# Virtual environments
.env
.venv/
venv/

# Orchestrate Bridge
orchestrate_bridge/openapi.local.yaml
orchestrate_bridge/*.pyc
orchestrate_bridge/__pycache__/
bugs/from_orchestrate.json

# macOS
.DS_Store

# Made with Bob
